@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.header {
    box-shadow: 0px 4px 4px 0px #00000040;
    height: 70px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}

.container {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    height: 100%;
    align-items: center;
}

a {
    text-decoration: none;
}

.header ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.header img {
    width: 40px;
}

.header .logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;

}

.logo a {
    font-family: "Roboto", sans-serif;
    color: #545BE8;
    font-weight: 500;
}

.header .register {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.nav a {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: black;
}

.nav .firstNav {
    font-weight: 700;
}

.register a {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    border: 1px #545BE8 solid;
    border-radius: 10px;
    padding: 10px 25px;
    color: #545BE8;
    width: 160px;
}

.register .signup {
    color: white;
    background-color: #545BE8;
    text-align: center;
}

.register .login {
    text-align: center;

}

.footer {
    background-color: #393E46;
    padding-block: 70px;
}

.footer.container {
    display: flex;
    flex-wrap: wrap;
}

.start {
    width: 50%;
    padding-right: 200px;
}

.end {
    width: 50%;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.start .logo_footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding-bottom: 30px;
}

.start .logo_footer h3 {
    font-family: "Roboto", sans-serif;
    color: white;
    font-weight: 500;


}

.start img {
    width: 40px;
}

.start p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #F4F4F4;

}

.app img {
    width: 30px;
    height: 30px;
    display: flex;
    padding: 3px;
}

.app a {
    border: 1px #F4F4F4 solid;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.end ul {
    list-style: none;
    padding-top: 20px;
}

.end h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: white;
}

.end a {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #F4F4F4;
}

.testimonials .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.testimonials h2 {
    padding: 30px;
    font-family: "Poppins", sans-serif;
    font-size: xx-large;
}

.testimonials .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.textProfile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
}

.profile h3 {
    font-family: "Poppins", sans-serif;
}

.profile span {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #969696;

}

q p,
q {
    display: inline;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #646464;

}

.comment .star img {
    width: 25px;
    height: 25px;
}

.comment {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    width: calc(50% - 40px);
    padding: 50px;
    box-shadow: 0px 10px 10px 0px #0000001A;
    margin: 0px 20px;
    position: relative;

}

.testimonials {
    margin: 50px 0px 80px 0px;
}

.comment:after {
    content: '';

    border-top: 30px solid #F4F4F4;
    border-right: none;
    border-left: 30px solid transparent;
    border-bottom: 30px solid transparent;
    position: absolute;
    top: 0;
    right: 0;

}

.courses_section {
    margin: 50px 0;
}

.courses_section .container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: flex-start;
}

.courses {
    width: calc(66.6% - 25px);
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.course {
    width: calc(50% - 25px);
    box-shadow: 0px 10px 10px 0px #0000000D;
    padding-bottom: 20px;

}

.course img {
    width: 100%;

    display: flex;

}

.available {
    width: calc(33.3% - 25px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
}

.best {
    background-color: #545BE8;
    position: absolute;
    padding: 10px 15px;
    top: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    color: white;
    font-size: large;
}

.usd {
    position: absolute;
    top: 260px;
    right: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    color: white;
    font-size: x-large;
}

.image {
    position: relative;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 30px 10px 30px;
    align-items: center;
}

.row2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 30px;
    align-items: center;
}

.obj {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: x-large;
}

.numView {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #545BE8;
}

.numVid,
.numTech {
    color: #969696;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.p1 {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #545BE8;
    font-size: larger;
}

.available h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 47px;

}

.p2 {
    color: #969696;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: larger;
}

.seeall {
    color: white;
    background-color: #545BE8;
    text-align: center;
}

.available a {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    border: 1px #545BE8 solid;
    border-radius: 10px;
    padding: 10px 25px;
    width: 160px;
}

.selected_course {
    background: linear-gradient(180deg, #545BE8 0%, #272DB0 100%);
}

.mainDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    width: 100%;
    margin: 50px 0;
}

.imgMain {
    width: calc(50% - 50px);
}

.desc {
    width: calc(50% - 50px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.imgMain img {
    width: 100%;
    height: 100%;
}

.descDivs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.descDiv {
    width: 33.3%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}

.selected_course .mainDiv .desc .span_desc {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #F0C932;
    font-size: larger;
}

.selected_course .mainDiv .desc h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 47px;
    color: white;
}

.selected_course .mainDiv .desc p {
    color: #DDDDDD;

    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: larger;
}

.descDiv h3 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #F0C932;
    font-size: x-large;
}

.descDiv span {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: white;
    font-size: larger;
}

.mainDiv1 {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    width: 100%;
    margin: 150px 0 50px 0;
}

.right_course .span_desc span {
    font-weight: bold;
}

.right_course .span_desc {
    color: #545BE8;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: larger;
}

.right_course .desc h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 60px;
    color: #141E32;
}

.right_course .desc h2 span {
    color: #545BE8;
}

.right_course .desc p {
    color: #969696;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: larger;
}

.descbtns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.btn1 {
    color: white;
    background-color: #545BE8;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    border: 1px #545BE8 solid;
    border-radius: 10px;
    padding: 10px 40px;
    width: 160px;
}
.btn2{
    color: black;
    text-align: center;
    
    font-family: "Inter", sans-serif;
    font-weight: 600;
    padding: 10px 40px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.btn2 img{
    width: 30px;
}
.descGive  .span_desc {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color:#545BE8;
    ;
    font-size: larger;
}

.descGive  h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 47px;
    color:  #141E32;
    
}

.descGive  p {
    color:  #969696;

    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: larger;
}
.whatGive{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-top: 150px;
    margin-bottom: 100px;
    gap: 20px;
}
.descGive{
    width: calc( 33.3% - 10px );
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 30px;
}
.whatGive .sqrsGive{
    width: calc( 66.6% - 10px );
    margin-top: 30px;
    display: flex;
    flex-wrap:wrap ;
    gap: 30px;
    
}
.sqr{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap; 
   width: calc( 33.3% - 20px );
   background-color: #545BE8;
   border-radius: 20px;
   gap: 20px;
}
.sqr img{
    width: 40px;
    padding: 5px;
    background-color: white;
    display: flex;
    border-radius: 50%;
    margin: 30px 0 0 10px;
}
.sqr h3{
    margin-left: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: white;
    font-size: large;
}
.sqr p{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color:  #DDDDDD;
    margin-left: 10px;
}
.arrow{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
    margin-right: 150px;
}
.arrow img{
    width: 40px;
}
.menu a i{
    border: none;
    color: black;
    display: none;
}
.background{
    margin-left: 12%;
    background-color:  #F5F5F5;
    width: 100%;
    height: 840px;
    position: absolute;
    top: 600px;
    z-index: -1;
}
@media (max-width:1190px){
.logo a{
    display: none;
}
}
@media (max-width:1000px){
    .nav{
        display: none;
    }
    .menu a i{
        
        display: inline;
    }
    .footer .container .start{
        width: 100%;
    }
}
@media (max-width:425px){
    .container{
       width: 100%;
       display: none;
    }
}
